<?xml version="1.0" ?>
<launch> 
  
  <!--   Load yaml config filepath on rosparam server -->
  <rosparam>
    filepath: "/home/durovsky/catkin_ws/src/siemens_tutorials/siemens_cp1616_io_controller_tutorial/config/siemens_cp1616_io_controller_tutorial_config.yaml"
  </rosparam>  
  
  <!--   Wrapper node  -->
  <node 
    name="siemens_cp1616_io_controller_wrapper"
    pkg="siemens_cp1616" 
    type="siemens_cp1616_io_controller_wrapper" 
    output="screen" />
   
  <!--   Tutorial node -->
  <node  
    name="siemens_cp1616_io_controller_tutorial" 
    pkg="siemens_cp1616_io_controller_tutorial" 
    type="siemens_cp1616_io_controller_tutorial_node"
    output="screen" /> 
    
</launch>
